.item {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 250px;
    padding: 5px;

}

.status {
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    border-radius: 50%;
}
.statusOnline {
    background-color: green;
}
.statusOff {
    background-color: red;
}
.avatar {
    border: 1pz splid gray;
    border-radius: 10%;
    padding: 7px;

}
.name {
    font-size: 20px;
    font-weight: 600;
    padding: 7px;
    margin: 0;

}